<h1>Bitcoin-Investment-Rechner</h1>

<form (submit)="($event.preventDefault); add()" class="investment-form box">
  <h3>Neues Investment erfassen</h3>
  <div class="flex">
    <div class="flex-1">
      <label for="count">Anzahl gekaufte Bitcoins</label>
      <input type="number" id="count" name="count" [(ngModel)]="inputCount" />
    </div>
    <div class="flex-1">
      <label for="price">Bitcoin-Kurs</label>
      <input type="number" id="price" name="price" [(ngModel)]="inputPrice" />
    </div>
    <div class="flex-1">
      <label for="date">Datum</label>
      <input type="date" id="date" name="date" [(ngModel)]="inputDate" />
    </div>
    <button type="submit">Erfassen</button>
  </div>
</form>

<div class="box">
  <dl>
    <dt>Dein Kontostand</dt>
    <dd>{{ balance$ | async }} BTC</dd>

    <dt>Investiert</dt>
    <dd>{{ invested$ | async }} CHF</dd>

    <dt>Wert heute</dt>
    <dd>{{ valueToday$ | async }} CHF</dd>

    <dt>Gewinn</dt>
    <dd>{{ win$ | async }} CHF</dd>
  </dl>
</div>

<ul class="box">
  <li *ngFor="let investment of investments$ | async">
    {{ investment.count }} BTC zum Preis von {{ investment.price }} Fr. am
    {{ investment.date.toISOString().slice(0, 10) }}
  </li>
</ul>
