body {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.table {
  display: table;
  width: 300px;
  margin: 20px auto;
}
.table th {
  text-align: left;
}
.table td {
  text-align: right;
}
button + button {
  margin-left: 20px;
}
