<body>
  <h1>Wetterstation</h1>
  <div class="table">
  <th>
    <p>Temperatur in Celsius</p>
    <p>Temperatur in Fahrenheit</p>
    <p>Temperatur in Kelvin</p>
    <p>Gefrierpunkt unterschritten</p>
  </th>
  <td>
    <p>{{ temperatureCelsiusSubject.value }}°C</p>
    <p>{{ temperatureFahrenheit$ | async }}°F</p>
    <p>{{ temperatureKelvin$ | async }}°K</p>
    <p *ngIf="isFreezing$ | async; else notFreezing">Ja</p>
    <ng-template #notFreezing><p>Nein</p></ng-template>
  </td>
  </div>
  <button (click)="colder()">Es wird kälter</button>
  <button (click)="warmer()">Es wird wärmer</button>
</body>
